In [0]:
%sql

CREATE TABLE default.employees (
  id INT,
  name STRING,
  salary DOUBLE
);

In [0]:
%sql
INSERT INTO employees
VALUES 
  (1, "Adam", 3500.0),
  (2, "Sarah", 4020.5);

INSERT INTO employees
VALUES
  (3, "John", 2999.3),
  (4, "Thomas", 4000.3);

INSERT INTO employees
VALUES
  (5, "Anna", 2500.0);

INSERT INTO employees
VALUES
  (6, "Kim", 6200.3)

In [0]:
%sql

USE DATABASE default;

-- DESCRIBE TABLE employees;
DESCRIBE EXTENDED employees;  
-- DESCRIBE DETAIL employees; -- show the file location


-- %fs ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%sql

DESCRIBE HISTORY default.employees;

OPTIMIZE default.employees;

-- Optimize with Z-Ordering (for Fast Queries)
-- If you frequently query based on specific columns (e.g., id or salary), you can Z-order the table on those columns to make searches more efficient:
OPTIMIZE default.employees ZORDER BY (id);

-- Delta Lake keeps track of deleted or updated data for a certain period (by default 7 days) to ensure proper time travel. You can remove this data (to reclaim storage) using VACUUM.
VACUUM default.employees RETAIN 168 HOURS;